<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.song.study">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.GET_TASKS" />


    <application
        android:name="com.song.study.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".enter.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.song.study.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.song.study.activity.ListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.song.study.activity.MusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.song.study.activity.AlbumsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.song.study.activity.ShowAlbumsMusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.song.study.activity.ArtistsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.song.study.activity.RecentPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.song.study.activity.AppPreferenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.song.study.activity.AboutAuthor"
            android:screenOrientation="portrait" />

        <service
            android:name="com.song.study.service.MusicService"
            android:screenOrientation="portrait" />

    </application>

</manifest>